<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button value="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main-header">
</div>

<p class="name">Maria Clara</p>
<ion-avatar>
  <img
    src="https://i.pinimg.com/736x/e6/c5/56/e6c55690faa927b2c0339ee9a6d0817f.jpg"
    alt="profile"
/></ion-avatar>

<div class="information">
  <ion-icon name="person-outline"></ion-icon>
  <p class="info-person">Maria Clara</p>
  
</div>
<hr>
<div class="information">
  <ion-icon name="female-outline"></ion-icon>
  <p class="info-person">Female</p>
  
</div>

<hr>
<div class="information">
  <ion-icon name="gift-outline"></ion-icon>
  <p class="info-person">Dec 13, 2022</p>
  
</div>
<hr>

<div class="information">
  <ion-icon name="call-outline"></ion-icon>
  <p class="info-person">09288342333</p>
  
</div>
<hr>
<div class="information">
  <ion-icon name="mail-outline"></ion-icon>
  <p class="info-person">mariaclara@gmail.com</p>
  
</div>
<hr>


<div class="information">
  <ion-icon name="eye-outline"></ion-icon>
  <p class="info-person">Password</p>
  
</div>
<hr>
<ion-button expand="block" color="secondary">Edit Profile</ion-button>

</ion-content>
