<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button value="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Hotel Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{data.image}}" />
  <div class="data">
    <h1>{{data.name}}</h1>
    <div class="ratings">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>
    <p>{{data.description}}</p>
    <ion-button (click)="book()" expand="block">Book</ion-button>
  </div>
</ion-content>
