<ion-header collapse="fade">
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-wrapper">
    <img src="../../../assets/icon/favicon.png" alt="icon" class="icon" />
  </div>
  <div class="title">Adventure Time</div>
  <div class="description">
    Adventure Time Offers The Best Tourist Spots In The Philippines. The Tourist
    May Select The Suggested Provinces With Beach Mountain Views, Tourist Spots,
    And Resorts. A Traveler’s Inn Is Also Included For Travelers Who Want To
    Rest Overnight. The Travel Protocols In Every Place Must Be Followed By The
    Tourist For Their Safety And Health.
  </div>
  <div>
    Check out
    <a href="http://adventuretimesbooking.ml/" target="_blank">our website!</a>
  </div>
</ion-content>
