ion-content {
  --background: linear-gradient(#232d88, #181f31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.img-wrapper {
  margin-top: 50px;
}

.title {
  color: var(--ion-color-secondary);
  font-size: 1.7em;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  margin: 20px;
}

@media (prefers-color-scheme: light) {
  .description, div {
    color: var(--ion-color-light);
  }
}
