<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="home"
        routerLink="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/register">Register</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-header"></div>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/icon/favicon.png" />
  </div>

  <form id="form" [formGroup]="form">
    <ion-label color="danger" *ngIf="!found">* Account not found!</ion-label>
    <ion-label
      color="danger"
      *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
      >* Email is invalid</ion-label
    >
    <ion-label
      color="danger"
      *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
      >* Email is required</ion-label
    >
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Please input your email"
        formControlName="email"
      ></ion-input>
    </ion-item>

    <ion-label
      color="danger"
      *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
      >* Password is required</ion-label
    >
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="Please input your password"
        formControlName="password"
      ></ion-input>
    </ion-item>

    <ion-button
      [disabled]="!form.valid"
      expand="block"
      shape="round"
      (click)="login()"
      >Login</ion-button
    >
  </form>
</ion-content>
