ion-toolbar {
  --background: #f5f5f3;

  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content {
  --background: #f5f5f3;
  .main-header {
    height: 40vh;
    width: 150%;
    background: linear-gradient(
      90deg,
      var(--ion-color-tertiary) 10%,
      var(--ion-color-primary) 100%
    );
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 60% 60%;
    margin-left: -14vh;
    margin-top: -100px;
  }

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;

    h1 {
      font-weight: 700;
      font-size: 26px;
      color: white;
      margin-bottom: 15%;
    }

    img {
      width: 125px;
      height: 50%;
      border-radius: 50%;
      border: 8px solid #ffffff;
    }
  }

  #form {
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;

    #form {
      margin-top: 35px;
      height: 48px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  }
}

ion-item {
  border-radius: 50px;
  height: 55px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
  --highlight-height: 0px;
}

ion-input {
  font-size: 18px;
  --padding-top: 20px;
  --padding-bottom: 15px;
  --padding-start: 5px;
}

a {
  font-size: 17px;
  letter-spacing: 0.05;
  text-decoration: none;
}
