.image-text {
  position: relative;
  p {
    position: absolute;
    bottom: -5px;
    left: 10px;

    font-size: 1.3em;
    color: var(--ion-color-dark);
    padding: 5px;

    box-shadow: 1px 1px 10px black;
  }
}

@media (prefers-color-scheme: light) {
  .image-text {
    p {
      color: var(--ion-color-light);
    }
  }
}

.services {
  h1 {
    color: var(--ion-color-warning);
  }
  hr {
    background-color: var(--ion-color-warning);
  }
  h3 {
    color: var(--ion-color-success);
  }
}

.gallery {
  h1 {
    color: var(--ion-color-warning);
  }
  hr {
    background-color: var(--ion-color-warning);
  }
  app-gallery {
    margin: 0 90px;
  }

  ion-item {
    margin: 0 10px;
  }

  ion-spinner {
    margin: auto;
  }
}
