<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-icon name="home"></ion-icon> Home</ion-item>
        <ion-item><ion-icon name="plane"></ion-icon>Book</ion-item>
        <ion-item><ion-icon name="cube"></ion-icon>Package</ion-item>
        <ion-item><ion-icon name="contact"></ion-icon>Account</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>AdventureTime </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card class="img">
      <img src="http://adventuretimesbooking.ml/assets/images/logo.png" />
      <ion-card-header>
        <ion-card-title>Adventure is worthwhile!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Travel to the most breathtaking paradise in the Philippines. So what are
        you waiting for? Book with Us!
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Adventure is worthwhile!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Travel to the most breathtaking paradise in the Philippines. So what are
        you waiting for? Book with Us!
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Adventure is worthwhile!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Travel to the most breathtaking paradise in the Philippines. So what are
        you waiting for? Book with Us!
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Adventure is worthwhile!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Travel to the most breathtaking paradise in the Philippines. So what are
        you waiting for? Book with Us!
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
